image: certpl/docker-ci-base:latest

variables:
  DOCKER_DRIVER: overlay2

services:
  - naskpl/dind

stages:
  - build
  - test
  - deploy

before_script:
  - echo "Start job $CI_BUILD_NAME" at `date +%Y-%m-%d-%H-%M-%S`
  - echo "CI_PIPELINE_ID $CI_PIPELINE_ID"
  - mkdir -p artifacts/test
  - docker info
  - docker login -u $DOCKER_REGISTRY_LOGIN -p $DOCKER_REGISTRY_PASSWORD $DOCKER_REGISTRY
  - eval $(ssh-agent -s)
  - (if [ ! -z "$GIT_DEPLOY_KEY" ] ; then echo "$GIT_DEPLOY_KEY" | tr -d '\r' | ssh-add - > /dev/null ; fi)
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - echo "$VCS_SSH_KEYS" >> ~/.ssh/known_hosts

build_images:
  stage: build
  script:
    - docker pull $DOCKER_REGISTRY/mquery_web:latest || true
    - docker pull $DOCKER_REGISTRY/mquery_daemon:latest || true
    - docker pull $DOCKER_REGISTRY/mquery_tests:latest || true

    - (if [ ! -z "$GIT_DEPLOY_KEY" ] ; then git clone git@vcs.cert.pl:cert/mquery-plugins.git ; cat mquery-plugins/aux-config.py >> config.docker.py ; rm mquery-plugins/aux-config.py ; mv mquery-plugins/*.py metadata/ ; rm -rf mquery-plugins ; fi)

    - docker build --cache-from $DOCKER_REGISTRY/mquery_web:latest -t $DOCKER_REGISTRY/mquery_web:$CI_PIPELINE_ID -t $DOCKER_REGISTRY/mquery_web:latest -t $DOCKER_REGISTRY/mquery_web:build-$CI_COMMIT_SHA -f Dockerfile-webapp .
    - docker build --cache-from $DOCKER_REGISTRY/mquery_daemon:latest -t $DOCKER_REGISTRY/mquery_daemon:$CI_PIPELINE_ID -t $DOCKER_REGISTRY/mquery_daemon:latest -t $DOCKER_REGISTRY/mquery_daemon:build-$CI_COMMIT_SHA -f Dockerfile-daemon .
    - docker build --cache-from $DOCKER_REGISTRY/mquery_tests:latest -t $DOCKER_REGISTRY/mquery_tests:$CI_PIPELINE_ID -t $DOCKER_REGISTRY/mquery_tests:latest -t $DOCKER_REGISTRY/mquery_tests:build-$CI_COMMIT_SHA tests
    
    - docker images
    
    - docker push $DOCKER_REGISTRY/mquery_web:$CI_PIPELINE_ID
    - docker push $DOCKER_REGISTRY/mquery_web:build-$CI_COMMIT_SHA
    - docker push $DOCKER_REGISTRY/mquery_web:latest
    
    - docker push $DOCKER_REGISTRY/mquery_daemon:$CI_PIPELINE_ID
    - docker push $DOCKER_REGISTRY/mquery_daemon:build-$CI_COMMIT_SHA
    - docker push $DOCKER_REGISTRY/mquery_daemon:latest
    
    - docker push $DOCKER_REGISTRY/mquery_tests:$CI_PIPELINE_ID
    - docker push $DOCKER_REGISTRY/mquery_tests:build-$CI_COMMIT_SHA
    - docker push $DOCKER_REGISTRY/mquery_tests:latest
  after_script:
    - docker-compose down | true

test_mquery:
  stage: test
  script:
    - git submodule update --init --recursive
  
    - URSADB_VERSION=$(git ls-tree $CI_COMMIT_SHA ursadb | cut -f3 "-d " | cut -f1)
    - echo "URSADB_VERSION=$URSADB_VERSION"
    
    - SECRET_KEY=$(date +%s | sha256sum | base64 | head -c 32)
    - echo "SECRET_KEY=$SECRET_KEY" >> .env

    - docker pull redis
    - docker pull $DOCKER_REGISTRY/mquery_web:$CI_PIPELINE_ID
    - docker pull $DOCKER_REGISTRY/mquery_daemon:$CI_PIPELINE_ID
    - docker pull $DOCKER_REGISTRY/mquery_tests:$CI_PIPELINE_ID
    - docker pull $DOCKER_REGISTRY/ursadb:build-$URSADB_VERSION
    
    - docker tag $DOCKER_REGISTRY/mquery_web:$CI_PIPELINE_ID mquery_web:latest
    - docker tag $DOCKER_REGISTRY/mquery_daemon:$CI_PIPELINE_ID mquery_daemon:latest
    - docker tag $DOCKER_REGISTRY/mquery_tests:$CI_PIPELINE_ID mquery_tests:latest
    - docker tag $DOCKER_REGISTRY/ursadb:build-$URSADB_VERSION mquery_ursadb:latest
    
    - docker-compose up -d
    - docker run --net mquery_default -v mquery_samples:/mnt/samples mquery_tests
  artifacts:
    name: "$CI_JOB_NAME"
    paths:
      - artifacts/test/startup.log
    when: always
    expire_in: 1 week
  after_script:
    - docker-compose logs -t
    - docker-compose logs -t > artifacts/test/startup.log
    - docker-compose down | true

deploy_mquery:
  stage: deploy
  when: manual
  only:
    - master
  environment:
    name: prod
  script:
    - git clone "$VCS_DEPLOY_REPO_URL"
    - cd "$VCS_DEPLOY_REPO_NAME"
    - sh deploy_mquery.sh
