version: '3'
services:
  web:
    restart: always
    build:
      context: .
      dockerfile: deploy/docker/web.Dockerfile
    ports:
    - "80:5000"
    links:
    - redis
    volumes:
    - "${SAMPLES_DIR}:/mnt/samples"
    depends_on:
      - "redis"
      - "ursadb"
    environment:
      - "REDIS_HOST=redis"
      - "MQUERY_BACKEND=tcp://ursadb:9281"
  daemon:
    restart: always
    build:
      context: .
      dockerfile: deploy/docker/daemon.Dockerfile
    links:
    - redis
    - ursadb
    volumes:
    - "${SAMPLES_DIR}:/mnt/samples"
    depends_on:
      - "redis"
      - "ursadb"
    environment:
      - "REDIS_HOST=redis"
      - "MQUERY_BACKEND=tcp://ursadb:9281"
  ursadb:
    restart: always
    image: mqueryci/ursadb:v1.5.1
    ports:
    - "127.0.0.1:9281:9281"
    volumes:
    - "${SAMPLES_DIR}:/mnt/samples"
    - "${INDEX_DIR}:/var/lib/ursadb"
    user: "0:0"
  redis:
    restart: always
    image: redis
  postgres:
    image: postgres
    restart: always
    volumes:
      - ${POSTGRES_DIR}:/var/lib/postgresql/data
