aiofiles==0.4.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
fastapi==0.54.0
h11==0.9.0
httptools==0.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.0
ply==3.11
pydantic==1.4
pyparsing==2.3.1
pyzmq==17.1.2
redis==3.0.1
requests==2.21.0
starlette==0.13.2
tabulate==0.8.6
typing-extensions==3.7.4.2
urllib3==1.24.2
uvicorn==0.11.3
uvloop==0.14.0
uWSGI==2.0.17.1
websockets==8.1
Werkzeug==0.15.3
yara-python==3.8.1
yaramod==3.5.0
cachetools==4.1.0
