#matches td {
    font-family: Consolas, Courier New, monospace;
}

.mq-nav-container {
    width: 95%;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

.progress-bar {
    color: white;
}

.mq-yara-textarea {
    font-family: monospace;
    height: calc(100vh - 150px) !important;
}

.mq-fullsize {
    width: 95%;
}

.mq-nmargin {
    margin-left: -15px;
    margin-right: -15px;
}

.mq-n2margin {
    margin-left: -30px;
    margin-right: -30px;
}

.mq-progress {
    width: 0;
}

.mq-topmargin {
    margin-top: 50px;
}

.mq-results {
    height: calc(100vh - 220px);
    overflow-y: scroll;
}

.mq-bottom {
    margin-bottom: 40px;
}

.mq-brand {
    background: url('../img/logo.svg') no-repeat;
    background-size: 130px;
    background-position: left;
    width: 130px;
    color: transparent !important;
}