.mquery-yara-input {
    height: calc(100vh - 150px) !important;
    font-family: monospace;
}

.mquery-scroll-matches {
    overflow-y: scroll;
}

.mquery-scroll-matches td {
    word-break: break-all;
    font-family: monospace;
}

.mquery-scroll-matches td i {
    visibility: hidden;
}

.mquery-scroll-matches td:hover i {
    visibility: visible;
}

.mquery-scroll-matches td i:hover {
    color: var(--blue);
}

.copyable-item {
    cursor: pointer;
}

.is-collapsed {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    position: absolute;
}

.accordion-toggle {
    cursor: pointer;
    position: relative;
}

.accordion-toggle::after {
    content: "\f107";
    color: rgb(134, 134, 134);
    padding: 1rem;
    right: 0px;
    position: absolute;
    font-family: "FontAwesome";
}

.accordion-toggle[aria-expanded="true"]::after {
    content: "\f106";
}

.table-topology tbody tr:nth-child(4n + 1) {
    background: rgba(0, 0, 0, 0.05);
}

.table-topology tbody tr:nth-child(2n) {
    background: rgba(0, 0, 0, 0.02);
}

.glyphMargin {
    background: rgb(255, 134, 134);
    width: 5px !important;
}

.contentError {
    background: #ffc7c7;
}

.monaco-container {
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid rgb(238, 238, 238);
}

.dropdown i:hover,
.dropdown.show i {
    cursor: pointer;
    color: var(--blue) !important;
}

.cursor-pointer {
    cursor: pointer;
}

.modal-container {
    position: absolute;
    offset-distance: 10px;
    z-index: auto;
    right: 5vw;
}

.modal-container-index-page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-block {
    position: relative;
    block-size: "fit-content";
    right: 5vw;
}

.modal-dialog {
    margin: 0;
}

.modal-header:hover {
    cursor: grab;
}

.modal-table {
    overflow-y: scroll;
    max-height: 50vh;
}

.index-form-wrapper {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 10px;
}

.index-links-wrapper {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 3px;
}

.index-navlink {
    font-size: large;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 10px;
    cursor: pointer;
    width: fit-content;
}
