{% extends "layout.html" %}
{% block body %}
    <div class="container mq-fullsize">
        <h1 class="text-center mq-bottom">dashboard</h1>
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center mq-bottom">backend</h2>
                {% if info == "index_queued" %}
                    <div class="alert alert-success">Specified location was queued for indexing.</div>
                {% elif info == "index_already_queued" %}
                    <div class="alert alert-danger">Indexing operation is already being processed.</div>
                {% endif %}

                {% if not db_alive %}
                    <div class="alert alert-danger">Database is not responding!</div>
                {% endif %}

                <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>conn</th>
                        <th>request</th>
                        <th>progress</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td>{{ task.connection_id }}</td>
                        <td><code>{{ task.request }}</code></td>
                        <td>
                            {% if task.work_done > 0 %}
                            {{ task.work_done }} / {{ task.work_estimated }}
                            ({{ (task.work_done * 100 / task.work_estimated)|round(2) }}%)
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>

                {% for path in admin_index_paths %}
                <form action="{{ url_for('admin_index') }}" method="POST">
                    <input type="hidden" name="path" value="{{ path }}">
                    <button type="submit" class="btn btn-primary">Index {{ path }}</button>
                </form>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <form action="{{ url_for('admin') }}" method="post">
                    <h2 class="text-center mq-bottom">jobs/queries</h2>
                    {% for job in jobs %}
                        <div class="alert
                    {%- if job.status == 'new' %} alert-info{% endif -%}
                    {%- if job.status == 'querying' %} alert-info{% endif -%}
                    {%- if job.status == 'done' %} alert-success{% endif -%}
                    {%- if job.status == 'failed' %} alert-danger{% endif -%}
                    {%- if job.status == 'cancelled' %} alert-danger{% endif -%}
                    " role="alert">
                            <div class="row">
                                <div class="col-md-8">
                                    <a style="font-family: monospace" href="/query/{{ job.id }}">{{ job.id }}</a>
                                </div>
                                <div class="col-md-2">
                                    {{ job.status }} ({{ job.files_processed }}/{{ job.total_files }})
                                </div>
                                <div class="col-md-2">
                                    {% if job.status == 'processing' or job.status == 'new' %}
                                        <button class="btn btn-danger btn-xs" name="cancel" value="{{ job.id }}"
                                                type="submit" role="button">cancel
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}