<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>mquery</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/font-awesome/css/fontawesome-all.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}?_v=2">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-top">
            <div class="container mq-nav-container">
                <div class="navbar-header">
                    <a class="navbar-brand mq-brand" href="{{ url_for('index') }}">mquery</a>
                </div>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="{{ url_for('index') }}">mquery</a></li>
                    <li><a href="{{ url_for('admin') }}">admin</a></li>
                    <li><a href="{{ url_for('help') }}">help</a></li>
                </ul>
            </div>
        </nav>
        {% block body %}
        {% endblock %}

        <script src="{{ url_for('static', filename='lib/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}?_v=2"></script>
    </body>
</html>
